 *{
    transition: 0.5s;
    color: rgb(12, 12, 12);
 }
#root{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 #pagesContainer {
    position: absolute;
    top: 85px;
    width: 90%;
 
 
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
   }